<%#
# Edit

This view is the template for the edit page.

It displays a header, and renders the `_form` partial to do the heavy lifting.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to help display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<% content_for(:title) { t("administrate.actions.edit_resource", name: page.page_title) } %>

<div class="row row-cards row-deck">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <%= content_for(:title) %>
        </h4>
        <%= link_to(
                t("administrate.actions.show_resource", name: page.page_title),
                [namespace, page.resource],
                class: "btn btn-link ml-auto",
                ) if valid_action?(:show) && show_action?(:show, page.resource) %>
      </div>

      <div class="card-body">
        <%= render "form", page: page %>
      </div>

    </div>
  </div>
</div>

