<%#
# Boolean Show Partial

This partial renders a boolean attribute,
to be displayed on a resource's show page.

By default, the attribute is rendered
as a string representation of the boolean value.

## Local variables:

- `field`:
  An instance of [Administrate::Field::Boolean][1].
  A wrapper around the boolean value pulled from the database.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Field/Boolean
%>

<label class="col-sm-6 custom-switch">
  <input type="checkbox" value="<%= field.to_s %>" class="custom-switch-input" <%= field.to_s == 'true' ? 'checked' : '' %> />
  <span class="custom-switch-indicator"></span>
</label>
