@charset "utf-8";

@import "tabler/variables";
@import "bootstrap";
@import "tabler";
@import "tabler.plugins";

@import "datetime_picker";

.table--asc,.cell-label--desc {
  font-weight: 700
}

.table__sort-indicator {
  margin-left: 15px
}

.table__sort-indicator svg {
  fill: #7b808c;
  height: 13px;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  width: 13px
}

.table__sort-indicator--desc {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.from-flex-group {
  display: flex !important;
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 30px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #dee2e6;
  border-left-width: 0;
  font-size: 12px;
}

.pagination {
  margin-top: 1em;
  border-left: 1px solid #ddd;
  .first{
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1750px;
  }
}
@media (min-width: 992px){
  .container {
    max-width: 1200px;
  }
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  margin: 2px 0;
  padding: 4px;
  width: 19em;
  display: block;
}