<%#
# Time Form Partial

This partial renders an input element for time attributes.
By default, the input is a select field for the time attributes.

## Local variables:

- `f`:
  A Rails form generator, used to help create the appropriate input fields.
- `field`:
  An instance of [Administrate::Field::Time][1].
  A wrapper around the tmie attributes pulled from the model.

%>

<div class="from-flex-group form-group row">
  <%= f.label field.attribute, class: "col-sm-3 col-form-label text-right" %>
  <div class="col-sm-6">
    <%= f.text_field field.attribute, data: { type: 'time' }, class: 'form-control' %>
  </div>
</div>